/* -------------------------------------------------------------------------- */
/*                          Tag custom properties           */
/* -------------------------------------------------------------------------- */

:host {
  --bq-tag--small-width: 40px;
  --bq-tag--small-height: 24px;
  --bq-tag--medium-width: 51px;
  --bq-tag--medium-height: 32px;
}
